
<div ng-if="!authService.isLoggedIn()">
    <h1>
        SocialNetwork <span ng-if="pageTitle"> &ndash; {{pageTitle}}</span>
    </h1>
</div>


<div ng-if="authService.isLoggedIn()" class="user-area">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="padding: 0px 15px;" href="#">
          <img src="img/default_avatar.jpg" class="img-circle" style="width: 50px;" />
        </a>
        <a class="navbar-brand" href="#">
          <span>{{authService.getCurrentUser().username}}</span>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#"><i class="large comments icon"></i></a></li>
          <li><a href="#"><i class="large users icon"></i></a></li>
          <li><a href="#"><i class="large settings icon"></i></a></li>
          <li><a href="#"><i class="large privacy icon"></i></a></li>
          <li><a href="#/logout" class="cursor-pointer"><i class="large sign out icon"></i></a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

</div>
