<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">Change Password</div>
        <div class="panel-body">
            <form name="changePasswordForm" ng-submit="changePassword()">
                <div class="col-md-10 col-md-offset-1">
                    <input type="password" id="oldPassword" class="form-control form-group" placeholder="Old password" ng-model="userData.oldPassword"  />
                    <input type="password" id="newPassword" class="form-control form-group" placeholder="New password" ng-model="userData.newPassword"  />
                    <input type="password" id="confirmPassword" class="form-control form-group" placeholder="Repeat New password" ng-model="userData.confirmPassword"  />
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-1">
                        <button type="submit" class="btn btn-primary col-md-6">Change Password</button>
                        <a href="/#/home" class="btn btn-danger col-md-5 col-md-offset-1">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
